# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# mypy
.mypy_cache/

# html files
*.html
